:root {
    --color-fondo: #f6f6f6;
    --color-texto: #3b3351; 
    --color-primario: #2c3e50;
    --color-secundario: #3498db;
    --fuente-principal: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
}


header{
    background-color: var(--color-primario);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.titulo h1{
    font-size: 35px;
    margin-top: 10px;
}

.titulo h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    color: #a8acb0;
}

nav{
    margin-top: 20px;
    /* width: 100%; */
}

#navega1{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.navega2{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}



section{
    padding: 60px 40px;
    margin: 0 auto;
    max-width: 1000px;
}

.titulos, .formacion{
    margin-bottom: 20px;
    color: var(--color-texto);
    font-size: 35px;
    display: inline-block;
}

                         /* SECCION SOBRE MI */

.contenedor-sobre-mi{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.imagen-sobre-mi img{
    border-radius: 7px;
    max-width: 250px;
    border: 3px solid var(--color-primario);
}

.imagen-sobre-mi figcaption{
    text-align: center;
    margin-top: 10px;
}

                         /* SECCION HABILIDADES */

.contenedor-habilidades{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.habilidades-caja{
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.21);
}

.habilidades-caja h3{
    margin-bottom: 20px;
    color: var(--color-texto);
}

.habilidades-caja ul{
    margin-left: 20px;
}

/* seccion formacion */

.contenedor-formacion ul{
    margin-left: 30px;
    list-style: square;
}

.contenedor-formacion li{
    margin-bottom: 15px;
}


                         /* SECCION PROYECTOS */

.contenedor-proyectos{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
}

#fotoapp {
    max-width: 50%;
    /* height: auto; */
    /* border-radius: 7px;
    margin-top: 10px;
    padding: 10px;
    display: block;
    margin: 10px auto 0 auto; */
   
}

.proyectos-caja {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.21);
}

.proyectos-caja h3 {
    color: var(--color-texto);
    margin-bottom: 15px;
}

.proyectos-caja p, .proyectos-caja ol {
    margin-bottom: 15px;
}

.proyectos-caja ol {
    padding-left: 20px;
}

.proyectos-caja img {
    max-width: 90%;
    height: auto;
    border-radius: 7px;
    display: block;
    margin: 25px auto 15px auto;
}

.enlace-video {
    text-align: center;
}

.enlace-video a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: var(--color-secundario);
    padding: 15px 15px;
    border-radius: 7px;
    margin: 15px auto 0 auto;
    display: inline-block;
}


                        /* CONTACTO Y FORMULARIO */