:root {
    --color-fondo: #f6f6f6;
    --color-texto: #3e3a49; 
    --color-primario: #2c3e50;
    --fuente-principal: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--fuente-principal);
    background-color: var(--color-fondo);
    color: var(--color-texto);
}


header{
    background-color: var(--color-primario);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.titulo h1{
    font-size: 35px;
    margin-top: 10px;
}

.titulo h2{
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
    color: #a8acb0;
}

nav{
    margin-top: 20px;
    /* width: 100%; */
}

#navega1{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 10px;
}

.navega2{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}





img{
    width: 20%;
}